body {
    background-color: #4F624F;
}

h2 {
    position: center;
    color: black;
}


h3 {
    position: center;
    color: black;
}

.btn-secondary {
    margin-right: 10px;
}

.jumbotron {
    background: #ffffff;
    color: white;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.centering {
    text-align: center;
}

.jumbotron .btn-primary {
    background: #2c2c2c;
    border-color: #2c2c2c;
}

.jumbotron .btn-primary:hover {
      background: #2c2c2c;
}

.jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em; }

.navbar {
    margin-top: 10px;
    margin-bottom: 10px;
}

.themed-grid-col {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgba(86, 61, 124, .15);
    border: 1px solid rgba(86, 61, 124, .2);
}

.themed-container {
    padding: 15px;
    margin-bottom: 30px;
    background-color: rgba(0, 123, 255, .15);
    border: 1px solid rgba(0, 123, 255, .2);
}
