<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'car')}">
<head>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
          crossorigin="anonymous"
    >

    <link rel="stylesheet" href="../public/stylesheets/main.css">
    <link rel="stylesheet" href="../public/stylesheets/login.css">
</head>
<body>
<div class="container">
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1" th:text="${car1Title}"></h5>
                <small>3 days ago</small>
            </div>
            <p class="mb-1" th:text="${car1Description}"></p>
            <small th:text="${car1Price}"></small>
        </a>

        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1" th:text="${car2Title}"></h5>
                <small class="text-muted">3 days ago</small>
            </div>
            <p class="mb-1" th:text="${car2Description}"></p>
            <small class="text-muted" th:text="${car2Price}"></small>
        </a>

        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1" th:text="${car3Title}">g</h5>
                <small class="text-muted">3 days ago</small>
            </div>
            <p class="mb-1" th:text="${car3Description}"></p>
            <small class="text-muted" th:text="${car3Price}"></small>
        </a>
    </div>

</div>
</body>
</html>