<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'login')}">
<head>


</head>
<body>


<div class="container">
    <div class="jumbotron">
        <form class="form-signin">
            <img
                    class="mb-4"
                    src="https://cdn.glitch.com/70a0db66-17a5-4a74-aab0-f4cb6c2a25ad%2Fcar.svg?v=1605592618206"
                    alt=""
                    width="72"
                    height="72"
                    id="car-login-img"
            />

            <h3>Welcome home!</h3>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input
                    type="email"
                    id="inputEmail"
                    class="form-control"
                    placeholder="Email address"
                    autofocus
            />
            <label for="inputPassword" class="sr-only">Password</label>
            <input
                    type="password"
                    id="inputPassword"
                    class="form-control"
                    placeholder="Password"
            />

            <div>
                <button class="btn btn-sm btn-outline-dark" onclick="" role="button">
                    Forgot Password
                </button>
              <button> 
                <a href="create_account" class="btn btn-sm btn-outline-dark"> 
                Create Account 
              </a> 
             </button>
            </div>

            <button class="btn btn-lg btn-primary btn-block" type="submit">
                Sign in
            </button>
        </form>
    </div>
</div>

</body>
</html>
