<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
          crossorigin="anonymous"
    >
    <link rel="stylesheet" th:href="@{/stylesheets/main.css}" />

    <title>Login</title>
</head>

<body>


<div class="container" id="nav">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark rounded">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">

            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/car_inventory">Inventory</a>
                </li>
            </ul>

        </div>

        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">

            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="container" id="fillCars">
    <div class="list-group" >
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start" th:each="message : ${messages}">
            <p th:utext="${message}"></p>
        </a>
    </div>
</div>

</body>
</html>
